.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    margin-top: 50px;
    margin-bottom: 80px;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h2 {
    margin-bottom: 10px;
    margin-top: 19px;
    font-size: 30px;
    color: #004c6d;
    text-align: center;
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 15px;
    color: #004c6d;
    font-family: "Yu Gothic Light";
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgba(54, 106, 158, 0.83);
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="address"],
.form-container input[type="number"] {
    width: 100%;
    color: lightskyblue;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container button {
    background-color: steelblue;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
    font-size: 16px;
    margin-top: 10px;
    margin-left: auto;  
    margin-right: auto;
    align-self: flex-end; 
}

.form-container button:hover {
    background-color: darkblue;
}
